@model ParcialConcierto.Data.Entities.Ticket

@{
    ViewData["Title"] = "TicketNotExist";
}


<div class="text-center">
    <h1 class="display-4">Boleta no existe</h1>    

    <a asp-action="IndexTicket" class="btn btn-outline-success">Consultar de nuevo</a>
</div>